.container {
    		position: relative;
    		text-align: center;
    	}
    	
    	.agrment1 {
    		overflow:scroll; 
    		width:1000px; 
    		height:400px; 
    		padding:10px; 
    		background-color:#ffdc3c;
    		position: absolute;
    		top: 100px;
    		left: 85px;
    		margin:auto;
    		text-align: left;
    	}
  
    	.agrment2 {
    		overflow:scroll; 
    		width:1000px; 
    		height:400px; 
    		padding:10px; 
    		background-color:#ffdc3c;
    		position: absolute;
    		top: 670px;
    		left: 85px;
    		text-align: left;
    	}
    	
    	.agrtitle1 {
    		position: absolute;
    		top: 30px;
    		left: 85px;
    	}
    	
    	.agrtitle2 {
    		position: absolute;
    		top: 600px;
    		left: 85px;
    	}
    	
    	.agrmsg1-1 {
    		position: absolute;
    		top: 520px;
    		left: 85px;
    	}
    	
    	.agrmsg2-1 {
    		position: absolute;
    		top: 1090px;
    		left: 85px;
    	}
    	
    	.confirm {
    		width: 1170px;
    		height: 100px;
    		position: absolute;
    		top: 1200px;
    		text-align: center;
    	}
    	
    	.all {
    		position: absolute;
    		top: 1130px;
    		left: 85px;
    		display: inline-block;
    	}