.container {
    		position: relative;
    		text-align: center;
    	}
    	
    	.title {
    		position: absolute;
    		left: 25px;
    		top: 10px;
    	}
    	
    	 	
    	#box1 {
			position: absolute;
			top: 50px;
			left: 380px;
			width: 370px;
			height: 500px;  
			/* background-color: #E0E0E0; */
			border-radius: 10px;	
    	}
    
    	.b {
    		position: absolute;
    		top: 180px;
    		left: 300px;
    		line-height: 220%;
    	}
    	
   		li {
    		list-style: none;
    		font-size: 16px;
    	}
    	
    	#joinbutton {
    		position: absolute;
    		bottom: 100px;
    		left: 515px;
    	}
    	.complete{
    		display: inline-block;
    		position: absolute;
    		bottom: 200px;
    		left: 380px;
    	}